.scale-in {
    animation: scale-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.fade-out {
    animation: fade-out 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.marketing-fade-in {
    animation: fade-in 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.logoTextGleam {
  cursor: pointer;
  font-size: 3rem;
  background: linear-gradient(90deg, #08d087, #1e5a4b);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Standard property for future compatibility */
  animation: gleam 3s linear forwards;
}

.ctaButton {
    cursor: pointer;
  font-size: 2rem;
  background: linear-gradient(90deg, #08d087, #1e5a4b);
   background-size: 300% 100%;
  color: white;
  font-weight: 800;
  border-radius: 0.5rem;
  animation: gleam 1s ease-in forwards;

}

.drop-in {
    animation: dropInAnimation 0.5s ease-in-out forwards;
    opacity: 0;  /* Start with an invisible div */
    transform: translateY(-50px); /* Start higher up */
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes gleam {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes dropInAnimation {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}