---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYCY190G0V"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FYCY190G0V');
    </script>

    <meta charset="UTF-8" />
    <meta name="description" content="Create stunning, eye-catching AI-powered thumbnails for your videos with SimpleThumbnail. Designed for independent creators, our tool eliminates the need for professional assistance, making high-quality thumbnail design accessible and effortless." />
    <meta name="keywords" content="thumbnail, thumbnails, youtube, video, videos, thumbnail maker, thumbnail creator, thumbnail generator, thumbnail editor, thumbnail designer, thumbnail design, thumbnail template, thumbnail templates, thumbnail maker online, thumbnail creator online, thumbnail generator online, thumbnail editor online, thumbnail designer online, thumbnail design online, thumbnail template online, thumbnail templates online, thumbnail maker free, thumbnail creator free, thumbnail generator free, thumbnail editor free, thumbnail designer free, thumbnail design free, thumbnail template free, thumbnail templates free, thumbnail maker app, thumbnail creator app, thumbnail generator app, thumbnail editor app, thumbnail designer app, thumbnail design app, thumbnail template app, thumbnail templates app, AI thumbnail, AI thumbnails, AI thumbnail generator, AI thumbnail creator, AI images" />
  
    <meta name="robots" content="index, follow">

    <!-- Open Graph Tags -->
    <meta property="og:title" content="Simple Thumbnail">
    <meta property="og:description" content="Create stunning, eye-catching AI-powered thumbnails for your videos with SimpleThumbnail. Designed for independent creators, our tool eliminates the need for professional assistance, making high-quality thumbnail design accessible and effortless.">
    <meta property="og:image" content="https://www.simplethumbnail.com/SimpleThumbnail.png">
    <meta property="og:url" content="https://www.simplethumbnail.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="SimpleThumbnail">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Simple Thumbnail">
    <meta name="twitter:description" content="Create stunning, eye-catching AI-powered thumbnails for your videos with SimpleThumbnail. Designed for independent creators, our tool eliminates the need for professional assistance, making high-quality thumbnail design accessible and effortless.">
    <meta name="twitter:image" content="https://www.simplethumbnail.com/SimpleThumbnail.png">
   
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout-container">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 8, 208, 135;
    --accent-light: 16, 160, 120;
    --accent-dark: 30, 90, 75;
    --accent-gradient: linear-gradient(90deg, #08d087, #1e5a4b);
  }
  html {
    font-family: system-ui, sans-serif;
    background: white;
    background-size: 224px;
    color: black;
  }
  body {
   
    min-height: 100vh;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

   @keyframes gleam {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

   .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
  }

  .text-gleam {
    animation: gleam 3s linear forwards;
  }

  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This makes the Layout take the full viewport height */
}
</style>
